*, body {
    margin: 0; padding: 0;
    box-sizing: border-box;
}

:root{

    --navbar-bg: black;

    --background-primary: rgb(2,0,36);
    --background-secondary: rgb(17, 13, 79);
    --background-tertiary: rgb(33, 26, 130);
    --background-quaternary: rgb(41, 31, 190);

    --text-color: rgb(255, 255, 255);

    --menu-close-color: rgb(231, 46, 151);
}

.light-mode {
    --navbar-bg: #e8e2f3;

    --background-primary: #f6f4ff; /* Couleur très claire pour le fond principal */
    --background-secondary: #e3dbfa; /* Teinte mauve clair */
    --background-tertiary: #c7b8f5; /* Teinte lavande douce */
    --background-quaternary: #b5a3f0; /* Mauve plus foncé mais encore doux */

    --text-color: #2a1a40; /* Texte foncé pour un bon contraste */
}

body{
    background-color: var(--background-primary);
    color: var(--text-color);

    font-family: 'Tajawal';

    min-height: 200vh;

    font-size: 16px;
}

li{
    list-style: none;
}

a{
    text-decoration: none;
    color: var(--text-color);
}

/* keyframes */

@keyframes horizontal-fadein {
    from {
        visibility: hidden;
        opacity: 0;
        filter: blur(10px);
        transform: translateX(var(--offset));
    }
    to {
        visibility: visible;
        opacity: 1;
        filter: blur(0px);
        transform: translateX(0);
    }
}

@keyframes vertical-fadein {
    from {
        visibility: hidden;
        opacity: 0;
        filter: blur(10px);
        transform: translateY(var(--offset));
    }
    to {
        visibility: visible;
        opacity: 1;
        filter: blur(0px);
        transform: translateY(0);
    }
}

/* "functions" */

.uppercase{
    text-transform: uppercase;
}

.underline-hover-animation::after{
    content: '';
    width: 105%; height: 2px;

    background-color: var(--background-quaternary);

    position: absolute;
    bottom: 0px; left: 50%;

    transform: translateX(-50%) scaleX(0);
    transition: transform .3s ease;
}

.underline-hover-animation:hover::after{
    transform: translateX(-50%) scaleX(1);
}

.fadein-utd, .fadein-dtu{
    animation: vertical-fadein 1s ease forwards;
}

.fadein-ltr, .fadein-rtl{
    animation: horizontal-fadein 1s ease forwards;
}

.fadein-utd{
    --offset: -200px;
}
.fadein-dtu{
    --offset: 200px;
}
.fadein-ltr{
    --offset: -200px;
}
.fadein-rtl{
    --offset: 200px;
}

/* navbar */

#navbar{
    height: 80px; width: 100%;

    position: fixed;

    z-index: 9999;

    backdrop-filter: blur(5px);
}


.navbg{
    position: absolute;
    height: 100%; width: 100%;

    filter: opacity(.7);
    background-color: var(--navbar-bg);
}

.navlist{
    height: 100%; width: calc(100% - 40px);

    position: absolute;

    display: flex;
    justify-content: space-between;
}
.navlist, .sublist{
    display: flex;
    align-items: center;

    margin-inline: 20px;

    .logo{
        font-size: clamp(10px, 2vw, 30px);
    }

    li{
        margin-inline: 15px;
        font-size: clamp(5px, 2vw, 20px);

        height: 50px;
        display: flex;
        justify-content: center; align-items: center;

        a {
            position: relative;
            width: max-content;

            font-weight: bold;
        }
    }
}

.logo-content{
    font-family: 'Cinzel Decorative';
}

.menu{
    width: 10vw; height: 50px;
    min-width: 50px; max-width: 110px;

    position: relative;
}

.menu-opened{
    transition: transform .4s ease;

    .upper-layer{
        top: 50%;
        transform: rotate(-15deg);
    }

    .lower-layer{
        top: 50%;
        transform: rotate(15deg);
    }
}

.menu-closed{

    .upper-layer{
        top: 66%;
        transform: rotate(0deg);
    }

    .lower-layer{
        top: 33%;
        transform: rotate(-0deg);
    }
}

.menu-logo{
    display: flex; flex-direction: column;
    justify-content: space-evenly; align-items: center;
    width: 100%; height: 100%;

    cursor: pointer;

    .upper-layer, .lower-layer{
        content: '';
        width: 80%; height: 3px;

        background-color: var(--background-tertiary);

        position: absolute;

        transition: all .3s ease;

    } 
}

.floating-menu{
    width: 100%; height: 100vh;

    background-color: var(--background-tertiary);

    position: fixed;
    top: -10px; right: 0;

    display: flex; flex-direction: column;
    align-items: center; justify-content: end;

    overflow-x: hidden;

    opacity: 0;
    visibility: hidden;
    z-index: -1;

    backdrop-filter: blur(10px);

    transition: all .4s ease;
}

.cards{
    display: flex;
    justify-content: space-evenly;
    width: 100%;
    margin-bottom: 15px;
}

.card{
    width: 25vw; min-height: 550px;
    background-color: var(--background-secondary);
    backdrop-filter: blur(25px);

    box-shadow: 
    inset -4px -6px 2em var(--background-quaternary),
    inset 1px 2px 4px var(--text-color),
    -4px -6px 2em var(--background-quaternary),
    1px 2px 4px var(--text-color);

    border-radius: 35px;

    display: flex; flex-direction: column;
    align-items: center;
    transition: all .3s ease;

    position: relative;

    .card-thumbnail{
        flex:3;
        width: 100%;
        filter: blur(2px);
        /* background-color: red; */
        
        z-index: -2;

        border-top-left-radius: 35px;
        border-top-right-radius: 35px;

        padding: 10px;

        background-size: cover;
    }

    .tn1{
        background-image: url('../images/thumbnail_n1.jpeg');
    }
    .tn2{
        background-image: url('../images/thumbnail_n2.jpeg');
    }
    .tn3{
        background-image: url('../images/thumbnail_n3.jpeg');
    }

    .card-header{
        flex:4;
        padding: 5px 25px;
    }

    .card-footer{

        flex:2;
        width: 100%;

        display: flex; flex-direction: column;
        justify-content: space-evenly; align-items: center;
    }
}

.menu-btn{
    width: max-content; height: 40px;
    padding-inline: 20px;

    font-size: clamp(5px, 1vw, 20px);

    color: var(--text-color);
    border: navajowhite;
    border-radius: 20px;
    background-color: transparent;

    backdrop-filter: blur(15px);
    box-shadow: 
    inset 4px 6px 2em var(--background-quaternary),
    inset 1px 2px 4px var(--text-color);

    cursor: pointer;
}

.slider{
    display: flex;
    justify-content: space-evenly; align-items: center;
    p{
        font-size: clamp(5px, 1vw, 20px);
    }
}

#font-size-slider {
    -webkit-appearance: none;
    width: 40%;
    height: 8px;
    background-color: var(--background-tertiary);
    border-radius: 5px;
    outline: none;
    transition: background-color 0.3s ease;
}


#font-size-slider::-webkit-slider-runnable-track {
    height: 8px;
    background-color: var(--background-quaternary);
    border-radius: 5px;
}

#font-size-slider::-webkit-slider-thumb {
    -webkit-appearance: none;
    appearance: none;
    width: 20px;
    height: 20px;
    border-radius: 50%;
    background-color:  var(--background-tertiary);
    cursor: pointer;
    margin-top: -5px;
    transition: transform 0.2s ease;
}

#font-size-slider::-webkit-slider-thumb:hover {
    transform: scale(1.2);
}

#font-size-slider::-moz-range-thumb {
    width: 20px;
    height: 20px;
    border-radius: 50%;
    background-color: var(--background-quaternary);
    border: none;
    cursor: pointer;
    transition: transform 0.2s ease;
}

#font-size-slider::-moz-range-track {
    height: 8px;
    background-color: var(--background-tertiary);
    border-radius: 5px;
}

/* header */

header{
    width: 100%; height: 100vh;
    max-height: 1200px;

    overflow: hidden;
    position: relative;

    background-color: var(--background-primary);
}

.circles{
    width: 50%; height: 35%;
    position: absolute;

    display: flex;
    justify-content: center;
    align-items: center;

    top: 50%; left: 50%;
    transform: translate(-50%, -50%);

    z-index: 1;
}

.header-text{
    z-index: 2;

    font-family: 'Montserrat';
    font-weight: 100;
    font-size: clamp(12px, 4vw, 120px);

    width: 100%;
    height: 100%;

    border-radius: 15px;

    box-shadow: inset 0px 2px 10px rgba(81, 69, 249, 0.16);

    backdrop-filter: blur(15px);

    display: flex;
    justify-content: center; align-items: center;
}

.c1{
    --r: 80vw;

    background: var(--background-tertiary);
    background: radial-gradient(circle, var(--background-tertiary) 0%, var(--background-secondary) 35%, var(--background-primary) 100%);

    --x: -10vw;
    --y: -20vw;

    box-shadow: inset -20px -10px 30px var(--background-secondary);
}

.c2{
    --r: 120vw;

    background: var(--background-quaternary);
    background: radial-gradient(circle, var(--background-quaternary) 0%, var(--background-tertiary) 35%, var(--background-primary) 100%);

    --x: 50vw;
    --y: max(74vw, 100%);

    box-shadow: inset 15px 5px 25px var(--background-quaternary);
}

.c3{
    --r: 40vw;

    background: var(--background-secondary);
    background: radial-gradient(circle, var(--background-secondary) 0%, var(--background-primary) 100%);

    --x: 60vw;
    --y: min(-10vw, -5%);

    box-shadow: inset 10px 0 20px var(--background-secondary);

    z-index: 9;
}

.circle{
    border-radius: 50%;
    width: var(--r); height: var(--r);

    position: absolute;
    left: var(--x);
    top: var(--y);

    transform: translate(-50%, -50%);
}