<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Cinzel+Decorative:wght@400;700;900&family=Harmattan:wght@400;500;600;700&family=Montserrat:wght@100..900&family=Tajawal:wght@200;300;400;500;700;800;900&display=swap" rel="stylesheet">

    <link rel="stylesheet" href="{{ url_for('static', filename='/css/styles.css') }}">

    <title>QuranTraining | {{ title }}</title>
</head>
<body>

    <nav id="navbar">
        <div class="navbg"></div>
        <ul class="navlist">
            <li class="logo">
                <a href="{{ url_for('home') }}" class="logo-content">Quran Training</a>
            </li>
            <ul class="sublist">
                <li class="about">
                    <a href="{{ url_for('about') }}" class="about-content uppercase underline-hover-animation">about</a>
                </li>
                <li class="sign-up">
                    <a href="{{ url_for('signup') }}" class="signup-content uppercase underline-hover-animation">sign up</a>
                </li>
                <li class="menu menu-closed">
                    <div class="menu-logo" onclick="toggle()">
                        <div class="upper-layer"></div>
                        <div class="lower-layer"></div>
                    </div>
                    <div class="floating-menu">
                        <div class="floatmenu-bg"></div>
                        <button id="theme-toggle"></button>
                    </div>
                </li>
            </ul>
        </ul>
    </nav>

    <header>
        <div class="bg">
            <div class="circles">
                <h1 class="header-text fadein-ltr">{{title}} .</h1>
                <div class="circle c1"></div>
                <div class="circle c2"></div>
                <div class="circle c3"></div>
            </div>
        </div>
    </header>

    <main id="main">
        {% block content %}
        {% endblock %}
    </main>

    <script src="{{ url_for('static', filename='/js/main.js') }}"></script>

</body>
</html>
