<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Cinzel+Decorative:wght@400;700;900&family=Harmattan:wght@400;500;600;700&family=Montserrat:wght@100..900&family=Tajawal:wght@200;300;400;500;700;800;900&display=swap" rel="stylesheet">

    <link rel="stylesheet" href="{{ url_for('static', filename='/css/styles.css') }}">

    <title>QuranTraining | {{ title }}</title>
</head>
<body>

    <div class="floating-menu">

        <div class="cards">
            <div id="preferences-modal" class="card1 card">
                <div class="card-thumbnail tn1"></div>
                <div class="card-header">

                    <h3 class="card-title">Customize Your Experience</h3>
                    <p class="card-description">Personalize your QuranTraining journey to fit your needs. You can switch between dark and light themes for comfortable reading, adjust the font size for better readability, and set your preferred settings.</p>

                </div>
                <div class="card-footer">

                    <button class="toggle-theme-btn menu-btn" onclick="toggleTheme()">Toggle Dark/Light Theme</button>
                    
                </div>
            </div>

            <div class="card2 card">
                <div class="card-thumbnail tn2"></div>
                <div class="card-header">

                    <h3 class="card-title">Track Your Progress</h3>
                    <p class="card-description">Stay motivated by keeping track of your daily memorization streak. Consistency is key to mastering the Quran, and your streak helps you stay on target. Remember, even one verse a day can make a difference!</p>
                
                </div>
                <div class="card-footer">

                    <p class="current-streak">current streak : ? days</p>
                    <p class="longest-streak">longest streak : ? days</p>

                </div>
            </div>

            <div class="card3 card">
                <div class="card-thumbnail tn3"></div>
                <div class="card-header">

                    <h3 class="card-title">Start Fresh Anytime</h3>
                    <p class="card-description">If you ever want to start over, you can delete all your saved data and preferences with a single click. Be careful though — this action cannot be undone!</p>

                </div>
                <div class="card-footer">

                    <button id="del-data" class="menu-btn" onclick="deleteUserData()">Delete your data</button>

                </div>
            </div>
        </div>
    </div>

    <nav id="navbar">
        <div class="navbg"></div>
        <ul class="navlist">
            <li class="logo">
                <a href="{{ url_for('home') }}" class="logo-content">Quran Training</a>
            </li>
            <ul class="sublist">
                <li class="features">
                    <a href="{{ url_for('home') }}#features" class="features-content uppercase underline-hover-animation">Features</a>
                </li>
                <li class="about">
                    <a href="{{ url_for('about') }}" class="about-content uppercase underline-hover-animation">about</a>
                </li>
                <li class="menu menu-closed">
                    <div class="menu-logo" onclick="toggle()">
                        <div class="upper-layer"></div>
                        <div class="lower-layer"></div>
                    </div>
                </li>
            </ul>
        </ul>
    </nav>

    <header>
        <div class="bg">
            <div class="circles">
                <h1 class="header-text fadein-ltr">{{title}} .</h1>
                <div class="circle c1"></div>
                <div class="circle c2"></div>
                <div class="circle c3"></div>
            </div>
        </div>
    </header>

    <main id="main">
        {% block content %}
        {% endblock %}
    </main>

    <script src="{{ url_for('static', filename='/js/main.js') }}"></script>

</body>
</html>
